<%= turbo_stream.append "modal" do %>
  <div class="modal" tabindex="-1" data-controller="modal" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= t "season.modal_edit" %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= form_with url: season_edit_admin_path(id: params[:id]), method: :post, data: {turbo:false} do |f| %>
          <div class="modal-body">
            <%= f.text_area :message , class: 'col-form-label', placeholder: (t "season.message"), style: "width:100%", rows: "3" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t "close" %></button>
            <%= f.submit (t "confirm"), class: 'btn btn-primary' %>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
<% end %>