<% if logged_in? %>
  <h3><%= t "nav.season" %></h3>
  <div class="mt-3 mb-3">
    <%= form_for(:season, url: season_admin_index_path) do |f| %>
      <%= f.text_field :name, class: 'col-form-label', placeholder: (t "season.name") %>
      <%= f.submit (t "season.start"), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th><%= t "name" %></th>
          <th><%= t "season.start_at"%></th>
          <th><%= t "season.finish_at"%></th>
          <th><%= t "delete" %>
        </tr>
      </thead>
      <tbody>
        <% @seasons.each do |season| %>
          <tr>
            <td><%= season.name %></td>
            <td><%= l season.created_at %></td>
            <td><%= season.finished_at.nil? ? "" : (l season.finished_at) %></td>
            <td><%= button_to (t "delete"), season_admin_path(id: season.id), {method: :get, data: {turbo_confirm: (t "season.confirm")}, class: 'btn btn-danger'} %></td>         
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <%= render 'admin/permission_error' %>
<% end %>