<p class="h2"><%= t "user.title" %></p>
<br>
<div class="accordion mb-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <%= t "season.select" %>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= search_form_for @q, url: users_path do |f| %>
          <div class="row g-4 mb-3">
            <div class="col-auto">
              <%= f.search_field :name_cont, class: 'col-form-label', placeholder: (t "user.user_name")%>
            </div>    
            <div class="col-auto">
              <%= f.submit (t "search.submit"), class: 'btn btn-primary' %>
            </div>
            <div class="col-auto">
              <%= link_to (t "search.reset"), users_path(@page), class: "btn btn-outline-secondary" %>
            </div>
          </div>
          <label><%= t "season.name" %></label>
          <div class="mb-3">
            <%= f.select :season, Season.all.map{|s| [s.name, s.id]}, {selected: @season.id}, {class: "form-control col-6"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t "name" %></th>
        <th><%= t "rule.no_wall_single" %></th>
        <th><%= t "rule.on_wall_single" %></th>
        <th><%= t "rule.no_wall_double" %></th>
        <th><%= t "rule.on_wall_double" %></th>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |user| %>
        <tr class="clickable-row" data-href="<%= user_path(id: user) %>">
          <td class="clickable-row" data-href="<%= user_path(id: user) %>"><%= user.name %></td>
          <td class="clickable-row" data-href="<%= user_path(id: user) %>"><%= user.nw_s_rate %></td>
          <td class="clickable-row" data-href="<%= user_path(id: user) %>"><%= user.ow_s_rate %></td>
          <td class="clickable-row" data-href="<%= user_path(id: user) %>"><%= user.nw_d_rate %></td>
          <td class="clickable-row" data-href="<%= user_path(id: user) %>"><%= user.ow_d_rate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @user, theme: 'bootstrap-5'  %>

<style scoped>
tbody tr:hover {
    background-color:#a9ceec ;
}
</style>