<p class="h2">ダブルス 勝ち数ランキング</p>
<br>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Win</th>
        <th>Lose</th>
        <th>勝率</th>
      </tr>
    </thead>
    <tbody>
      <% @stats.each do |stats| %>
        <tr>
          <td><%= stats.name %></td>
          <td><%= stats.double_win %></td>
          <td><%= stats.double_lose %></td>
          <td><%= stats.double_lose != 0 ? stats.double_win.to_f / stats.double_lose.to_f : stats.double_win %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @stats, theme: 'bootstrap-5'  %>