<p class="h2"><%= t "stats.log_title" %></p>
<br>

<div class="accordion mb-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <%= t "search.title" %>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= search_form_for @q, url: logs_stats_path do |f| %>
          <div class="row g-4 mb-3">
            <div class="col-auto">
              <%= f.search_field :redname1_or_redname2_or_bluename1_or_bluename2_cont, class: 'col-form-label', placeholder: 'ユーザー名' %>
            </div>    
            <div class="col-auto">
              <%= f.submit (t "search.submit"), class: 'btn btn-primary' %>
            </div>
            <div class="col-auto">
              <%= link_to (t "search.reset"), logs_stats_path(@page), class: "btn btn-outline-secondary" %>
            </div>
          </div>
          <label><%= t "stats.season" %></label>
          <div class="mb-3">
            <%= f.select :season, Season.all.map{|s| [s.name, s.id]}, {selected: @season.id}, {class: "form-control col-6"} %>
          </div>
          <label><%= t "rule.rule" %></label>
          <div class=".d-flex">
            <%= f.check_box :hopping_allowed_eq_any, { multiple: true, include_hidden: false }, true %>
            <label><%= t "stats.jump_on" %></label>
            <%= f.check_box :hopping_allowed_eq_any, { multiple: true, include_hidden: false }, false %>
            <label><%= t "stats.jump_off" %></label>
          </div>
          <div class=".d-flex">
            <%= f.check_box :game_double_eq_any, { multiple: true, include_hidden: false }, true %>
            <label><%= t "rule.double" %></label>
            <%= f.check_box :game_double_eq_any, { multiple: true, include_hidden: false }, false %>
            <label><%= t "rule.single" %></label>
          </div>
          <div class=".d-flex">
            <%= f.check_box :game_boundaries_eq_any, { multiple: true, include_hidden: false }, true %>
            <label><%= t "rule.no_wall" %></label>
            <%= f.check_box :game_boundaries_eq_any, { multiple: true, include_hidden: false }, false %>
            <label><%= t "rule.no_wall" %></label>
          </div>
          <div class=".d-flex mb-3">
            <%= f.check_box :score_max_eq_any, { multiple: true, include_hidden: false }, "1" %>
            <label>1<%= t "stats.point" %></label>
            <%= f.check_box :score_max_eq_any, { multiple: true, include_hidden: false }, "5" %>
            <label>5<%= t "stats.point" %></label>
            <%= f.check_box :score_max_eq_any, { multiple: true, include_hidden: false }, "10" %>
            <label>10<%= t "stats.point" %></label>
          </div>
          <label><%= t "stats.ex" %></label>
          <div class=".d-flex">
            <%= f.check_box :game_ex_speed_eq_any, { multiple: true, include_hidden: false }, "off" %>
            <label><%= t "stats.ex_off" %></label>
            <%= f.check_box :game_ex_speed_eq_any, { multiple: true, include_hidden: false }, "ex1" %>
            <label><%= t "stats.ex_1" %></label>
            <%= f.check_box :game_ex_speed_eq_any, { multiple: true, include_hidden: false }, "ex2" %>
            <label><%= t "stats.ex_2" %></label>
          </div>
          <label><%= t "rule.dma" %></label>
          <div class=".d-flex">
            <%= f.check_box :dma_eq_any, { multiple: true, include_hidden: false }, true %>
            <label><%= t "stats.dma.on" %></label>
            <%= f.check_box :dma_eq_any, { multiple: true, include_hidden: false }, false %>
            <label><%= t "stats.dma.off" %></label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <table class="table mb-3">
    <thead>
      <tr>
        <th><%= t "stats.time" %></th>
        <th><%= t "stats.red1" %></th>
        <th><%= t "stats.red_score" %></th>
        <th><%= t "stats.red_rate" %></th>
        <th><%= t "stats.blue1" %></th>
        <th><%= t "stats.blue_score" %></th>
        <th><%= t "stats.blue_rate" %></th>
        <th><%= t "stats.winner" %></th>
        <th><%= t "stats.rule" %></th>
        <th><%= t "stats.jump" %></th>
        <th><%= t "stats.ex" %></th>
        <th><%= t "rule.dma" %></th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |logs| %>
        <tr>
          <td><%= l logs.created_at %></td>
          <td><%= logs.redname1 %></td>
          <td><%= logs.redscore %></td>
          <td><%= logs.reddiff1 %></td>

          <td><%= logs.bluename1 %></td>
          <td><%= logs.bluescore %></td>
          <td><%= logs.bluediff1 %></td>

          <td><%= logs.winner1 %></td>

          <td><%= logs.game_boundaries ? (t "rule.on_wall") : (t "rule.no_wall") %><%= logs.game_double ? (t "rule.double") : (t "rule.single") %><%= logs.score_max %><%= t "stats.point" %></td>
          <td><%= logs.hopping_allowed ? "ON" : "OFF" %></td>
          <td><%= logs.game_ex_speed %></td>
          <td><%= logs.dma ? "ON" : "OFF" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="mb-3">
  <%= paginate @logs, theme: 'bootstrap-5'  %>
</div>