<p class="h2">壁なしダブル 勝ち数ランキング</p>
<br>
<div class="accordion mb-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        シーズン選択
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= form_for :season, url: nw_d_stats_path, method: :get do |f| %>
          <div class="row g-4 mb-3">
            <div class="col-auto">
              <%= f.select :season, Season.all.map{|s| [s.name, s.id]}, selected: @season.id %>
            </div>    
            <div class="col-auto">
              <%= f.submit '表示', class: 'btn btn-primary' %>
            </div>
            <div class="col-auto">
              <%= link_to "リセット", nw_d_stats_path(@page), class: "btn btn-outline-secondary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>レート</th>
        <th>Win</th>
        <th>Lose</th>
        <th>勝率</th>
      </tr>
    </thead>
    <tbody>
      <% @stats.each do |stats| %>
        <% info = @info.find_by(users: stats) %>
        <tr class="clickable-row" data-href="<%= user_show_path(user_id: stats, info: info) %>">
          <td><%= info.name %></td>
          <td><%= stats.nw_d_rate %></td>
          <td><%= stats.nw_d_win %></td>
          <td><%= stats.nw_d_lose %></td>
          <td><%= stats.nw_d_lose != 0 ? stats.nw_d_win.to_f / stats.nw_d_lose.to_f : stats.nw_d_win %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @stats, theme: 'bootstrap-5'  %>

<style scoped>
tbody tr:hover {
    background-color:#a9ceec ;
}
</style>